extends layout

block content
	section(id="about" class="about")
		div(class="container")
			div(class="row")
				div(class="col-lg-12 text-center")
					h2 Kontakt
					p(class="lead")
						| Projekt został stworzony w ramach pracy inżynierskiej na 
						| Politechnice Warszawskiej na kierunku Informatyka.
					p
						a(href="http://www.ia.pw.edu.pl") Instytut Automatyki i Informatyki Stosowanej PW
						br
						| ul. Nowowiejska 15/19, 00-665 Warszawa