extends layout

block content
	section(id="about" class="about")
		div(class="container")
			div(class="row")
				div(class="col-lg-12 text-center")
					h2 O projekcie
					p(class="lead") 
						| Celem tego projektu jest skategoryzowanie istniejących 
						| publicznych profili w serwisie GoldenLine. Projekt powstaje
						| w ramach pracy inżynierskiej.
					p(class="lead")
						| Aplikacja pozwala
						| na wyszukiwanie profili według kategorii lub podkategorii,
						| a następnie filtrowanie wyników po zadanym parametrze sieciowym.
			div(class="row text-center")
				div(class="col-lg-10 col-lg-offset-1")
					h2 Co wykorzystujemy?
					hr(class="small")
					div(class="row")
						div(class="col-md-3 col-sm-6")
							div(class="service-item")
								span(class="glyphicon glyphicon-search")
								h4
									strong 
										a(href="http://www.nodejs.org") Node.js
								p Platforma do tworzenia skalowalnych aplikacji w JavaScript.
						div(class="col-md-3 col-sm-6")
							div(class="service-item")
								span(class="glyphicon glyphicon-search")
								h4
									strong 
										a(href="http://www.d3js.org") d3.js
								p Biblioteka open-source do wizualizacji danych.
						div(class="col-md-3 col-sm-6")
							div(class="service-item")
								span(class="glyphicon glyphicon-search")
								h4
									strong 
										a(href="http://www.getbootstrap.com") Bootstrap
								p Framework open-source ułatwiający tworzenie stron.
						div(class="col-md-3 col-sm-6")
							div(class="service-item")
								span(class="glyphicon glyphicon-search")
								h4
									strong 
										a(href="http://www.mongodb.org") MongoDB
								p Obiektowa baza danych.